<SOAP:Envelope xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/">
    <SOAP:Header>
        <header xmlns="xmlapi_1.0">
            <security>
                <user>{{ management.username }}</user>
                <password>{{ management.password }}</password>
            </security>
            <requestID>{{ management.username }}@{{ range(0,65535) | random }}</requestID>
        </header>
    </SOAP:Header>
    <SOAP:Body>
    {%- block request %}{% endblock %}
    </SOAP:Body>
</SOAP:Envelope>
